BookListRazor/wwwroot/lib/bootstrap/LICENSE
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap.css
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
BookListRazor/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.js
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
BookListRazor/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
BookListRazor/wwwroot/lib/jquery/LICENSE.txt
BookListRazor/wwwroot/lib/jquery/dist/jquery.js
BookListRazor/wwwroot/lib/jquery/dist/jquery.min.js
BookListRazor/wwwroot/lib/jquery/dist/jquery.min.map
BookListRazor/wwwroot/lib/jquery-validation/LICENSE.md
BookListRazor/wwwroot/lib/jquery-validation/dist/additional-methods.js
BookListRazor/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
BookListRazor/wwwroot/lib/jquery-validation/dist/jquery.validate.js
BookListRazor/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
BookListRazor/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
BookListRazor/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
BookListRazor/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
